[submodule "ros2_socketcan"]
	path = ros2_socketcan
	url = https://github.com/autowarefoundation/ros2_socketcan.git
	branch = humble
[submodule "bno055"]
	path = bno055
	url = https://github.com/flynneva/bno055.git
[submodule "YDLidar-SDK"]
	path = YDLidar-SDK
	url = git@github.com:YDLIDAR/YDLidar-SDK.git
[submodule "ydlidar_ros2_driver"]
	path = ydlidar_ros2_driver
	url = git@github.com:YDLIDAR/ydlidar_ros2_driver.git
	branch = humble
